QMainWindow{
	background: #fff;
}

QPushButton{
	border: none;
	background: rgba(237, 236, 235, 0.3);
	color: #000;
	padding: 10px 10px;
	font-size: 25px;
	outline: none;
	border-radius: 14px;
}

QPushButton:hover{
	background: rgba(204, 203, 202, 0.6);
	font-size: 19px;
}

QPushButton:pressed{
	background: rgba(58, 207, 4, 0.3);
}